.activities {
  margin-top: 10rem;
  grid-column: 1/-1;
  grid-row: activities-start/activities-end;
  font-size: 1.6rem;
  background-color: white;

  &__tabbox {
    width: 100%;
    transform: translateY(4rem);
    margin: 1rem auto;
    display: grid;
  }
  &__tabcontainer {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    margin: 0 auto;
    padding: 0 2rem;
    column-gap: 1rem;
    border-bottom: 1px solid rgba($color-grey-dark, 0.8);
    @media only screen and(max-width:$bp-small) {
      grid-template-columns: repeat(2, min-content);
      row-gap: 1.5rem;
    }
  }
  &__tab--active {
    transform: translateY(-1rem);
  }

  &__content {
    display: none;

    &--active {
      display: grid;
      grid-template-columns: 7.5rem 1fr;
      grid-template-rows: min-content minmax(13rem, min-content);
      background-color: white;
      width: 60vw;
      margin: 0 auto;
      gap: 1rem;
      padding-top: 5rem;
      @media only screen and(max-width:$bp-large1) {
        width: 75vw;
      }
      @media only screen and (max-width: $bp-small) {
        grid-template-rows: min-content minmax(23rem, min-content);
      }
    }
  }
  p {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    font-weight: 500;
    color: #3b3b3b;
    font-size: 2rem;
    text-align: justify;
  }
  &__header {
    color: $color-black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    display: grid;
    align-content: center;
  }

  &__icon {
    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
}
