.header {
  grid-column: 1/ -1;
  grid-row: header-start / header-end;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/crestasee3.jpg);
  background-position: center;
  background-size: cover;
  grid-template-rows: 30vh 70vh;
  padding: 4rem;
  border-bottom: 1px solid rgba($color-grey-dark-2, 0.5);
  &__text-box {
    text-align: center;
    @media only screen and(max-width:$bp-small) {
      padding: 2rem 0;
      position: relative;
      top: 5rem;
    }
  }
}
